html, body {
    margin: 0;
    height: 100%;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: rgb(47, 48, 150);
    border-radius: 50%;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(211, 210, 210);
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
}

#voice, #search {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    left: 10px;
}

.searchbtn {
    border: none;
    background: transparent;
    }

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(231, 231, 231);
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    opacity: 50%;
}

.button:hover {
    box-shadow: 0 0 2px 1px black;
    board: 2px solid #eeeeee;
    opacity: 100%
}

body {
    display: flex;
    flex-direction: column;

}
