body {
    margin: 0;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#middle {
    margin-top: 300px;
}

#logo {
    text-align: center;
}