body {
    margin: 0;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#middle {
    margin-top: 300px;
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
   
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 510px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
}