img {
    width: 10%;
    bottom: 10px;
}

div {
  width: fit-content;
  border: 0.5px solid rgb(202, 204, 202);
  padding: 46px;
  margin: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}